// Define variables for your color scheme
$pickle: #8CB267;
$red: #EE5746;
$yellow: #FBE462;
$orange: #F8A73E;
$green: #5EBB8E;
$purple: #B684FD;
$pink: #F8B1F2;
$blue: #2F6EB3;

$gray: #ACACAC;
$light-gray: #DCDCDC;
$bg-gray: #EBEBEB;
