// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Union", "Helvetica", "sans-serif";
$headers-font: "Union", "Helvetica", "sans-serif";

@font-face {
  font-family: "Union";
  src: url(asset-path('union.woff2') format("woff2"));
  src: font-url('union.woff2?#iefix') format('embedded-opentype'),
       font-url('union.woff2') format('woff2'),
       font-url('union.ttf') format('truetype')
}
$my-font: "union";
