<% post = @comment.post %>

document.getElementById("comment-<%= @comment.id %>").remove();
<% if post.comments.empty? %>
  document.getElementById("comments").insertAdjacentHTML('beforeend', '<p>There are no comments for this post!</p>');
<% end %>
