.hide {
  display: none;
}

.col {
  padding: 0;
}

.col-6 {
  padding: 0;
}

.container {
  padding: 0px;
  -webkit-transition: -webkit-filter 0.2s ease;
  -moz-transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
}

.row{
  padding: 0px 10px 0px 10px;
  margin: 0px;
}

body {
  margin-top: 64px;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}


p {
  font-size: 12px;
  letter-spacing: -0.015em;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
}


.blur{
  -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
  filter: blur(10px);
}
