 .small-button{
  border:solid black;
  border-width: thin;
  border-radius: 50px;
  padding: 5px 10px;
}
 .small-button-fill{
  border-radius: 50px;
  padding: 5px 10px;
  text-color: white;
  background-color: #1EDD88;
}
