.small-button {
  border:solid black;
  border-width: thin;
  border-radius: 50px;
  padding: 4px 10px;
  font-size: 14px;
  height:26px;
  display:flex;
  align-items:center;
}
.small-button-fill {
  border-radius: 50px;
  padding: 4px 10px;
  color: white;
  background-color: #1EDD88;
  font-size: 14px;
  height:26px;
  display:flex;
  align-items:center;
}

.small-button-fill-notification {
  border-radius: 50px;
  padding: 4px 10px;
  color: white;
  background-color: red;
  font-size: 14px;
  height: 26px;
  display: flex;
  align-items: center;
}

.big-button-fill {
  font-family: $my-font;
  font-size: 14px;
  line-height: 23px;
  padding: 5px 14px;
  height:36px;
  display:flex;
  align-items: center;
  text-align: center;
  background-color: $black;
  color: white;
  border-radius: 50px;
}

.big-button-navbar-black {
  font-family: $my-font;
  font-size: 14px;
  line-height: 23px;
  padding: 5px 14px;
  height:36px;
  display:flex;
  align-items: center;
  text-align: center;
  background-color: $black;
  color: white;
  border-radius: 50px;
}

.big-button-navbar-white {
  font-family: $my-font;
  font-size: 14px;
  line-height: 23px;
  padding: 5px 14px;
  height:36px;
  display:flex;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 50px;
  margin-left:10px;
}

.button-filter {
  width: 34px;
  padding: 5px 10px;
  margin-left: 10px;
  text-align: center;
  background-color: white;
  color: $black;
  border-radius: $border-radius;
}

.category-button {
  margin-left:10px;
}

.dash-category-buttons {
  position:absolute;
  bottom: 47px;
  right: 10px;
  display:flex;

  .category {
    margin-left: 5px;
  }
}

.index-category-buttons {
  position:absolute;
  top: 5px;
  right: 5px;
  display:flex;

  .category {
    margin-left: 5px;
  }
}

.button-dash {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width:52px;
  height:52px;
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  z-index: 1000;
}
.button-dash-notification{
  width:16px;
  height:16px;
  background-color: red;
  font-size:9px;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  position:fixed;
  bottom: 52px;
  right:6px;
  z-index: 1001;
  border-radius:16px;
  padding-right: 1px;
}

.button-add {
  display:flex;
  align-items:center;
  justify-content:center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width:52px;
  height:52px;
  border-radius: 16px;
  background-color:black;
  z-index: 1000;
}

.card-option-button {
  position:absolute;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  bottom: -26px;
  width: 52px;
  height: 52px;
  background: #EC6060;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1111;
}

.vote-heart {
  font-size: 30px;
  color: white;
}

.card-win-result-button {
  position: absolute;
  width: 118px;
  height: 52px;
  left: 35px;
  top: 446px;
  background: #5EBB8E;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 35px;
  top: 234px;
  color: #FFFFFF;
  font-size: 20px;
}

.card-lose-result-button {
  position: absolute;
  width: 118px;
  height: 52px;
  left: 223px;
  top: 446px;
  background: #EE5746;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 35px;
  top: 234px;
  color: #FFFFFF;
  font-size: 20px;
}

.button-grey {
  background-color: #DCDCDC;
  color: #646464 !important;
}
