.card-index{
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card-index-images{
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-index-texts{
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-index-info{
  background-color: white;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

.card-title{
  font-size: 32px;
  line-height: 100%;
}

.card-index-cta{
  display: flex;
  align-items: flex-end;
}

.card-username {
  flex-grow:1;
}

.card-cta-wrap {
  width: 65%;
  display: flex;
  justify-content:space-between;

}

.option-image {
  width:100%;
  display:flex;
  justify-content:space-between;
  height: 262px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
}

.option-text{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items: top;
  text-align: left;
  height: 262px;
  border-radius: 16px;
  font-size: 20px;
  letter-spacing: -0.015em;
  padding: 10px;
}

.or {
  height: 262px;
  font-size: 12px;
  display:flex;
  align-items:center;
  text-align: center;
}

.card-index-category-bar{
  background-color: none;
  padding: 10px 6px 10px 0px;
  height: 36px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card-option {
  position: relative;
}
