#comments {
  background-color: rgba(255, 255, 255, .75 );
  margin: 0px 10px 0px 10px;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

.showpage-box {
  background-color: rgba(255, 255, 255, .75 );
  margin: 0px 10px 20px 10px;
  border-radius: 16px;
  padding: 10px;
}

.showpage-description {
  font-size: 14px;
}
.comments-text {
  display: flex;
  display: inline-grid;
  text-align: justify;
  padding-right: 6px;
  position: relative;
  width: 100%;
}

.comments-delete {
  right: 0px;
  bottom: 1px;
  color: $gray;
  position: absolute;
}

.comments-content {
  padding-right: 20px;
}

.comments-username {
  margin: 7px 0px 3px 0px;
  color: $gray;
  padding-right: 5px;
}

.comments-add {
  margin-bottom: 10px;
  color: $gray;
}

.comments-form {
  margin-top: 10px;

  margin-bottom: 70px;

  label {
    display:none;
  }

  #new_comment {
    display:flex;
    justify-content:flex-end;
    margin-bottom:-15px;
  }

  .form-group {
    background-color: none !important;
    border-radius: 16px;
    flex-grow: 1;
    width: 100%;
  }

  input {

  }
}

.comments-form-box {
background-color: red;
}
